/* contrast and accability colour schemes!! */



/* all */



/* end of all */


/* header */

.header {
    background-color: #333;
  }
  
  /* header buttons (including logo) */
  .header a {
    color: white;
  }
  
  /* button hover */
  .header a:hover {
    background-color: #555;
    color: white;
  }
  
  /* current page */
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

/* end of header */

/* sidenav */

.sidenav {
  background-color: #333;
}

.sidenav a {
  color: white;
}

.sidenav a:hover {
  background-color: #555;
  color: white;
}

/* end of sidenav */


/* footer */

.footer{
    background: #333;
    color: #efefef;
}


.col-1 a{
    color: #efefef;
}


form button{
    border: 2px solid #fff;
    color: #fff;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    color: white;
}

/* end of footer */


/* toggle switch */

.slider {
  background-color: #ccc;
}

.slider:before {
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* end of toggle switch */