/* all */



/* end of all */


/* header */

.header {
    background-color: #f1f1f1;
  }
  
  /* header buttons (including logo) */
  .header a {
    color: black;
  }
  
  /* button hover */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* current page */
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

/* end of header */





/* footer */

.footer{
    background: #f1f1f1;
    color: black;
}


.col-1 a{
    color: black;
}


form button{
    border: 2px solid black;
    color: black;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    color: black;
}

/* end of footer */

/* toggle switch */

.slider {
  background-color: #ccc;
}

.slider:before {
  background-color: white;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* end of toggle switch */